FeedsWPF/obj/
.vs/
FeedsXamarin/FeedsXamarin.Android/obj/
FeedsXamarin/FeedsXamarin/obj/
Shared/obj/
FeedsWPF/bin/Debug/net5.0-windows/FeedsWPF.dll
FeedsWPF/bin/Debug/net5.0-windows/FeedsWPF.pdb
FeedsWPF/bin/Debug/net5.0-windows/ref/FeedsWPF.dll
FeedsXamarin/FeedsXamarin.Android/bin/Debug/FeedsXamarin.dll
FeedsXamarin/FeedsXamarin.Android/bin/Debug/FeedsXamarin.pdb
FeedsXamarin/FeedsXamarin/bin/Debug/netstandard2.1/FeedsXamarin.dll
FeedsXamarin/FeedsXamarin/bin/Debug/netstandard2.1/FeedsXamarin.pdb
FeedsWPF/bin/Debug/net5.0-windows/FeedsWPF.runtimeconfig.dev.json
FeedsWPF/bin/Debug/net5.0-windows/Shared.dll
FeedsWPF/bin/Debug/net5.0-windows/Shared.pdb
FeedsXamarin/FeedsXamarin.Android/bin/
FeedsXamarin/FeedsXamarin/bin/Debug/netstandard2.1/Shared.dll
FeedsXamarin/FeedsXamarin/bin/Debug/netstandard2.1/Shared.pdb
Shared/bin/Debug/netstandard2.1/Shared.dll
Shared/bin/Debug/netstandard2.1/Shared.pdb
/Shared/bin/Debug/netstandard2.1/Shared.dll~79f04177ef6615a28f5872b3864d8f7d524a48b7
/Shared/bin/Debug/netstandard2.1/Shared.pdb~79f04177ef6615a28f5872b3864d8f7d524a48b7
